{
    "presets": ["@vue/cli-plugin-babel/preset"],
    "plugins": [],
    "env": {
        "development": {
            "plugins": ["dynamic-import-node"]
        },
      "test": {
        "plugins": ["require-context-hook"]
      }
    }
  }