<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.pwaPath %>manifest.json">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>vue-element-admin</title>
  </head>
  <body>
    <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('<%= htmlWebpackPlugin.options.pwaPath %>sw.js').then(function(registration) {
        // Registration Success
        console.log('[serviceWorker]: registration successful with scope: ', registration.scope)
  }).catch(function(err) {
        // Registration failed :(
        console.log('[serviceWorker] registration failed', err)
  })
}
  </script>
</html>
