
.view-base {
  height: 100%;
  min-height: calc(100vh - 84px);
}

.view-loading {
  padding: 100px 100px;
  height: 100%;
}

.custom-title {
  color: #000000;
  text-size-adjust: 20px;
  font-size: 100%;
  font-weight: 605!important;
}
