@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &::before,
    &::after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue); }

.light-blue-btn {
  @include colorBtn($light-blue); }

.red-btn {
  @include colorBtn($red); }

.pink-btn {
  @include colorBtn($pink); }

.green-btn {
  @include colorBtn($green); }

.tiffany-btn {
  @include colorBtn($tiffany); }

.yellow-btn {
  @include colorBtn($yellow); }

.pan-btn {
  border: none;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  outline: none;
  padding: 14px 36px;
  position: relative;
  transition: 600ms ease all;

  &:hover {
    background: #fff;

    &::before,
    &::after {
      transition: 600ms ease all;
      width: 100%;
    }
  }

  &::before,
  &::after {
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 400ms ease all;
    width: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
    right: inherit;
    top: inherit;
  }
}

.custom-button {
  -webkit-appearance: none;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
}
