@import './btn.scss';
// @import './editor.scss';
@import "./mixin.scss";
body {
  //height: 100%;
  //overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  //@include scrollBar;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.inlineBlock {
  display: block;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.editor-container .CodeMirror {
  height: 100%!important;
}

code {
  background: #eef1f6;
  padding: 20px 10px;
  margin-bottom: 20px;
  display: block;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//editor
//.editor-placeholder {
//  margin: 0 auto;
//  display: block;
//  .editor-placeholder-title {
//    text-align: center;
//    font-size: 20px;
//    padding-bottom: 5px;
//  }
//  .editor-placeholder-image {
//    display: block;
//    max-height: 100px;
//    margin: 0 auto;
//  }
//}
//main-container全局样式
.app-container {
  padding: 20px;
  //min-height: 100%;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

.singleImageUpload2.upload-container {
  .el-upload {
    width: 100%;
    height: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 100%;
      .el-icon-upload {
        margin: 30% 0 16px;
      }
    }
  }
}

.editor-video-upload {
  @include clearfix;
  margin-bottom: 10px;
  .el-upload {
    float: left;
    width: 100px;
  }
  .el-upload-list {
    float: left;
    .el-upload-list__item:first-child {
      margin-top: 0px;
    }
  }
}

.el-upload-list--picture-card {
  float: left;
}

.pagination-container {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.wscn-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.publishedTag,
.draftTag,
.deletedTag {
  color: #fff;
  background-color: $panGreen;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.draftTag {
  background-color: $yellow;
}

.deletedTag {
  background-color: $red;
}

.input-label {
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 5px 11px 0;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-marginLeft {
  .el-checkbox {
    margin: 0 20px 15px 0;
  }
  .el-checkbox+.el-checkbox {
    margin-left: 0px;
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//文章页textarea修改样式
.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//实时新闻创建页特殊处理
.recentNews-container {
  p {
    display: inline-block;
  }
  .el-collapse-item__content {
    padding-right: 0px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//reset element ui
.block-checkbox {
  display: block;
}

//上传页面不显示删除icon
.mediaUpload-container {
  .el-upload__btn-delete {
    display: none !important;
  }
}

.operation-container {
  .cell {
    padding: 10px !important;
  }
  .el-button {
    &:nth-child(3) {
      margin-top: 10px;
      margin-left: 0px;
    }
    &:nth-child(4) {
      margin-top: 10px;
    }
  }
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 8px;
  }
}

.small-padding {
  .cell {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
    .el-tag {
      margin-right: 0px;
    }
  }
}

//.el-form-item__content{
//  margin-left: 0px!important;
//}
.no-border {
  .el-input-group__prepend,
  .el-input__inner,
  .el-date-editor__editor,
  .multiselect__tags {
    border: none;
  }
}

.el-select__tags {
  max-width: 100% !important;
}

.small-space .el-form-item {
  margin-bottom: 10px;
}

.no-padding {
  .el-dropdown-menu__item {
    padding: 0px;
  }
  .el-dropdown-menu {
    padding: 0px;
  }
}

.no-hover {
  .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #fff;
  }
}

.el-tooltip-fullwidth {
  width: 100%;
  .el-tooltip__rel {
    width: 100%;
  }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
