.getting-started .outbound,
.nav-links .outbound {
  display: none !important;
}

.getting-started a img {
  margin-right: 8px !important;
}

.getting-started a img.no-margin {
  margin-right: 0px !important;
}

//global
p code {
  // color: #e96900!important;
  // background-color: #f8f8f8!important;
  // margin: 0 2px!important;
  // padding: 0.25rem 0.4rem!important;
}

blockquote {
  font-size: 15px !important;
  color: #858585 !important;
  border-left: 0.25rem solid #42b983 !important;
  font-weight: 1000 !important;
}
